@import url('reset.css');


body{
	font-family: Arial, Verdana, 微軟正黑體;
    line-height: 1.6;
    
}

/* <!---- 最外層包裝 開始 ----> */
.ptstudio{
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    background-color:#0B0543;
    width:  1200px;
    height: 100%;
}

.ptstudio-a{
    box-sizing: border-box;
    margin: 0 auto;
}


/* <!---- 主選單天 ---->   */

.top{
    display: flex;
    justify-content: space-between;
    height: 200px;
    /* border: 1px solid red; */
}

.btn .fa{
    display: none;
}

.top a img{
    width: 145px;
    height: 95px;
    border-radius: 18%;
    padding-bottom: 10px;
}

.top img{ 
    padding: 30px 30px;
    
}

.top ul {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.top li a{
    font-size: 24px;
    font-weight: bold;
    color:#E3C3C3;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.top li a:hover{
    color: tomato;
    border-bottom: 2px solid yellow;
    box-sizing: border-box;
}

.top ol {
	display: none; 
    position: absolute;
    /* outline: 1px solid ; */
}    

.top  ol a{
	display:block;
	text-align: center;
	text-decoration: none;
    line-height: 40px;
    font-size: 20px;
    padding-left: 20px;
}

.top ul>li:hover ol{
    display: block;
}

/* top鈕 */
#gotop{
    position: fixed;
    border-radius: 50px;
    right: 35px;
    bottom: 30px;
    padding: 10px 20px;
    font-size: 25px;
    background: rgba(228, 211, 211, 0.36);
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;
}



/* <!---- 主視覺大圖 ----> */

.main-ver{
    padding-bottom: 100px;
}

.main-ver h1{
    font-size: 16px;
    color:#E3C3C3 ;
    padding-left: 30px;
    padding-bottom: 40px;
}

.main-ver a{
    text-decoration: none;
    color: #E3C3C3;
}

.main-ver a:hover{
    color: red;
}

/* <!---- AB攝影棚介紹區塊 ----> */

.top-introd{
    display: flex;
    margin: 0 auto;
    border-bottom: 2px solid  rgba(204, 204, 198, 0.43);
}

.top-introd ul{
    display: flex;
    margin: 0 auto;
    padding: 70px 0;
}

.top-introd li{
    margin: 0 50px;
}

.top-introd img{
    box-shadow: 8px 4px 5px #333333;
    -webkit-box-shadow: 8px 4px 5px #333333;
    -moz-box-shadow: 8px 4px 5px #333333;
}

.top-introd h1{
    font-size: 32px;
    font-weight: bolder;
    color:yellow;
    text-align: center;
    margin :30px 0;
}

.top-introd h3{
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 40px 0;
    margin: 0 30px;
}    

.top-introd p{
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 40px 0;
    margin: 0 30px;
}

.top-introd  h2{
    font-size: 24px;
    color: #E3C3C3;
    text-align: left;
}


/* <!---- 攝影棚中間介紹區塊 ----> */

.med-introd{
    padding-top: 150px;  
}

.med-top{
    display: flex;
    /* border: 1px solid red; */
    margin-bottom: 170px;
}

.in-pic{
    padding-left: 50px;
}



.in-wod h1{
    font-size: 40px;
    font-weight: bolder;
    color: yellow;
    text-align: center;
    padding: 50px 130px;
}

.in-wod p{
    font-size: 24px;
    text-align: center;
    color: white;
}


.med-ch{
    display: flex;
    /* border: 1px solid red; */
}

.in-wod-ch {
    padding: 50px 130px;
}

.in-wod-ch h1{
    font-size: 40px;
    font-weight: bolder;
    color: yellow;
    text-align: center;
    padding-top: 30px;   
}

.in-wod-ch p{
    font-size: 24px;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.med-bot{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 170px;
    margin-bottom: 50px;
}

.med-bot img{
    padding-left: 50px;
}

.med-bot-wod{
    padding-left:80px;
}


.med-bot-wod h1{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: yellow;
    padding: 50px 130px;
}

.med-bot-wod p{
    font-size: 24px;
    text-align: center;
    color: white;
}

.bt-bot-bnt{
    display: block;
    margin-top: 200px;
}


.bt-bot-bnt ul{
    display: flex;
    justify-content: center;
}

.med-introd .bt-bot-bnt li{
    /* outline: 2px solid red; */
    width: 30px;
    height: 30px;
    padding-top: 70px;
}

.med-introd .bt-bot-bnt a{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/ICON/icon_sprite.png);
    background-repeat: no-repeat;
    
}

.bt-bot-bnt .btn1 a{background-position: 3px 2px;}
.bt-bot-bnt .btn2 a{background-position: 3px -45px;}
.bt-bot-bnt .btn3 a{background-position: 3px -68px;}
.bt-bot-bnt .btn4 a{background-position: 3px -93px;}
.bt-bot-bnt .btn5 a{background-position: 3px -21px;}



.med-introd footer{
    font-size: 24px;
    line-height: 70px;
    color: white;
    text-align: center;
}

/*------------------ 414 --------------------*/
@media screen and (max-width: 414px){

.ptstudio{
    width: 100%;     
}

.ptstudio-a{
    width: 100%;
}

/* <!---- 主選單天 ---->   */

.top{
    display: block;
    width: 100%;
    height: 80px;
    background-color: #785454;
    position: relative;
}

.btn .fa{
    display: block;
}

.btn{
    color: #0B0543;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
}

.top a label {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #0B0543;
}

.top a img{
    width: 90px;
    height: 55px;
    margin-left: -10px;
    margin-top: -15px;
}


.top .nav{
    padding: 0px;
    width: 100%; 
    
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
}

.none{
    display:block !important;
}


.top li {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: rgba(51,51,51,.9 );
}

.top li a{
    width: 100%;
    height: 50px;
    z-index: 3;
    font-size: 20px;
}

.top li a:hover{
    border-bottom: 2px solid #fff;
}

.top ol {
    background-color: white;
    opacity:.9;
} 

/* top鈕 */
#gotop {
    display: block;
    border-radius: 30px;
    background:  rgba(228, 211, 211, 0.36);;
    position: fixed;
    border-radius: 50px;
    right: 10px;
    bottom: 20px;
    padding: 0px 10px;

}

/* <!---- 主視覺大圖 ----> */
.main-ver{
    padding:0;

}
.main-ver h1{
    display: none;
}

.main-ver img{
    width: 100%;
}

/* <!---- AB攝影棚介紹區塊 ----> */

.top-introd{
    border: none;
}


.top-introd ul{
    width: 100%;
    display: block;
        
}

.top-introd li{
    display: block;
    width: 100%;
    box-sizing: border-box; 
    /* border: 1px solid red;  */
    margin: 0;
}

.top-introd  img{
    display: block;
    width: 380px;
    position: relative; 
    top: 120px; 
    padding-bottom: 30px;
    margin:0 auto;

    box-shadow:none; 
    -webkit-box-shadow:none; 
    -moz-box-shadow:none;
    
}

.top-introd  h1{
    display: inline-block;
    position: relative; 
    top: -200px; 
    margin: 0 110px;
}

.top-introd  h2{
    width: 250px;
    font-size: 20px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 150px;
}

.top-introd h3{
    width: 250px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    margin: 0 75px;
}

.top-introd p{
    width: 250px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    margin: 0 75px;
}

/* <!---- 攝影棚中間介紹區塊 ---->     */

.line{
    display: inline-block;
    width: 350px;
}

.med-introd{
    width: 100%;
    padding: 0px;
}

.med-top{
    display: block;
}

.in-pic img{
    display:block;
    margin: 0px -26px;
    width: 100%;
}

.in-wod h1{
    display: inline-block;
    text-align: center;
    width: 166px;
    font-size: 23px;
    margin: -10px -17px;
}

.in-wod p{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: 0 -5px;
}

.med-ch{
    flex-wrap: wrap;
    box-sizing: border-box;
    

}

.med-ch img{
    display:block;
    margin: 0px 30px;
    width: 85%;
    height: 280px;
    position: relative; 
}

.in-wod-ch{
    padding: 20px 110px;
    order: 1;
}

.in-wod-ch h1{
    display: inline-block;
    text-align: center;
    width: 200px;
    font-size: 24px;
    margin: -5px -10px;
}

.in-wod-ch p{
    display: inline-block;
    text-align: center;
    width: 300px;
    font-size: 20px;
    margin: 0px -55px;
}
.med-bot{
    display: block;
}

.med-bot img{
    display:block;
    margin: 0px -27px;
    width: 88%;

}

.med-bot-wod h1{
    display: inline-block;
    text-align: center;
    width: 175px;
    font-size: 24px;
    margin: 0 -103px;
}

.med-bot-wod p{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: 0 -45px;
}

.bt-bot-bnt ul{
    height: 80px;
}


.bt-bot-bnt footer{
    font-size: 12px;
}


}